.encabezado {
  background-color: aqua;
}

.logo img {
    width: 40px; /*Reduce el tamaño de la imagen*/
}

.encabezado .navegacion {
    text-align: right; /*se desplaza el texto a la izquiera*/ 
    background-color: beige;
    padding-top: 1%;
    text-align:justify;
}

.encabezado h1{
    font-size: 40px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.encabezado .logo{
    font-size: 40px;
}

.form_control {
    position: relative;
    bottom: 40px;
    left: 40px;
    margin-left: 75%; /*Disminuye los margenes, en este caso el derecho*/
   }

.navegacion ul li{
    display: inline; /*convierte las filtas en lineas*/
    margin: 10%;   
}