/*Index Home*/

li {
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background-color: rgb(214, 209, 209);
    position: relative;
    padding-bottom: 3em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color:aqua; 
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}
.cabecera {
    background-color: rgb(0, 183, 255);
   }

.navegacion {
    display: grid;
    grid-template-areas: 
         "nav-1 nav-1"
         "link link"; 
    grid-template-rows: 10px 10px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    background-color:aqua; 
    text-align:left;
    height: 50px;  
}
.nav-1{
    grid-area: nav-1;
    display: flex;
    flex-direction: row;
    justify-content: center;
     
}
.link{
    grid-area: link;
    display: flex;
    flex-direction: row;
    justify-content: center;     
}
 
.navegacion1 {
    display: grid;
    grid-template-areas: 
    "logo logo titulo ";
    grid-template-rows: 10px 10px;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    background-color:rgb(29, 126, 126); 
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    height: 15px; 
    padding: 20px;
    
    
}
.logo{
    grid-area:logo;
    display: flex;
    flex-direction:column;
    justify-content:left; 
    width: 35px; 
}
.titulo{
    grid-area:titulo;
    display: flex;
    flex-direction: column;
    text-align: center;  
}

.enlaces{
    display: grid;
    grid-template-areas: 
    "nav-left nav-left"
    "nav-rigth nav-rigth";
    grid-template-rows: 50px 50px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;    
}

.nav-left{
    grid-area:nav-left;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}
.nav-rigth{
    grid-area:nav-rigth;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}

.seccion_contacto {
    display: grid;
    grid-template-rows:15px;
    background-color: gray;
    border-color: black;
    border-style:ridge;
    padding: 20px;
    margin-inline:25%;
    width: 50%;
    height: 50%;   
}
.form_control{
    grid-area:form_control;
    display:contents;
    text-align:justify;
}


.pie_de_pagina {
    display: grid;
    
    text-align:center;
    margin-top: 60px;      
}

@media (min-width: 1025px) { 
    .navegacion{
        grid-template-areas:/*Se ubican los elemetos html de nuestra pagina web dentro de una cuadricula*/
        "nav-1 nav-1 nav-1 link link link";
        grid-template-rows: 50px;
        grid-template-columns: repeat(6, 1fr);
        align-items:center;
        display: flex;
        justify-content: space-around;
    }
    .navegacion1{
        grid-template-areas:/*Se ubican los elemetos html de nuestra pagina web dentro de una cuadricula*/
        "logo  logo logo titulo titulo titulo";
        grid-template-columns: repeat(6, 1fr);
        display: flex;
        justify-content: center;            
    }
    .enlaces{
        grid-template-areas:
        "nav-left nav-left nav-rigth nav-rigth";
        grid-template-columns: repeat(4, 1fr);
        flex-direction: row;
        justify-content: space-around;       
    }
    .seccion_contacto {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows:10px;
        background-color: gray;
        border-color: black;
        border-style:ridge;
        padding: 10px;
        justify-content: center;
        width: 50%;
        height: 50%; 
        gap:5px;
        font-size: 20px;   
    }
    
}

/*Mantenimiento*/

.content .texto1{
    background-color: gray;
    border-style:double;
    border-color: black;
    border-radius: 10px;
    margin-left:10%;
    margin-right: 10%;
}
    
.content .texto2, .content .texto3 {
    background-color: gray;
    border-style:double;
    border-color: black;
    border-radius: 10px;
    margin-left:10%;
    margin-right: 10%;
}

.enlaces-man{
    display: grid;
    grid-template-areas: 
    "man-left man-left"
    "man-rigth man-rigth";
    grid-template-rows: 50px 50px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;    
}

.man-left{
    grid-area:man-left;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}
.man-rigth{
    grid-area:man-rigth;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}

 
@media (min-width: 1025px) {
    .enlaces-man{
       grid-template-areas:
        "man-left man-left man-rigth man-rigth";
        grid-template-columns: repeat(4, 1fr);
        flex-direction: row;
        justify-content: space-around;            
    }   
}


/*IMAGENES*/

.enlaces .navegador_galeria {
    text-align: center;
    margin: 20px;
    word-spacing: 50px;
}

.content img {
    margin: 20px;
    border-radius: 20px;
    border-color: black;
    border-style: solid ;
}

.cabecera h1{
    position: relative;
    text-align: center;
    font-style: oblique;
}

.navegacion1 ul li {
    position: relative;
    left: 90%;
    bottom: 100px;  
}

.cabecera .titulo1 {
    padding:10px;
}

.content .foto1 img, .content .foto2 img, .content .foto3 img, .content .foto4 img {
    position: relative;
    bottom: 60px;
    width:50%;
    height:150px;
    margin-left: 300px;  
}
 
.enlaces-img{
    display: grid;
    grid-template-areas: 
    "img-left img-left"
    "img-rigth img-rigth";
    grid-template-rows: 50px 50px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;    
}

.img-left{
    grid-area:img-left;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}
.img-rigth{
    grid-area:img-rigth;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}

@media (min-width: 1025px) {
    .enlaces-img{
       grid-template-areas:
        "img-left img-left img-rigth img-rigth";
        grid-template-columns: repeat(4, 1fr);
        flex-direction: row;
        justify-content: space-around;            
    }
    
}

/*Reproductor de Videos*/


.video1, .video2, .video3, .video4 {
    width: 35%;
}
 
.Reproductor{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
    align-items:flex-start;
    justify-content: center;
    margin-top: -20px;   
}

.enlaces-vid{
    display: grid;
    grid-template-areas: 
    "vid-left vid-left"
    "vid-rigth vid-rigth";
    grid-template-rows: 50px 50px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;    
}

.vid-left{
    grid-area:vid-left;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}
.vid-rigth{
    grid-area:vid-rigth;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}

@media (min-width: 1025px) {
    .enlaces-vid{
       grid-template-areas:
        "vid-left vid-left vid-rigth vid-rigth";
        grid-template-columns: repeat(4, 1fr);
        flex-direction: row;
        justify-content: space-around;            
    }    
}

 
/*Paginas web*/

.content_paginas{
    position: relative;
    display:flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
    align-items:flex-start;
    justify-content: center;
    margin-top: -20px; 
    }


.hidrosol, .securepool, .babysafe, .hidropool {
    width: 170px;
    height: 170px;
    background-color: gray;
    border-radius: 50%; /* Esto crea la forma de círculo */
    text-align: center;
    }

    .enlaces-pag{
        display: grid;
        grid-template-areas: 
        "pag-left pag-left"
        "pag-rigth pag-rigth";
        grid-template-rows: 50px 50px;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;    
    }
    
    .pag-left{
        grid-area:pag-left;
        display: flex;
        flex-direction:row;
        justify-content:space-around;
    }
    .pag-rigth{
        grid-area:pag-rigth;
        display: flex;
        flex-direction:row;
        justify-content:space-around;
    }
    
    @media (min-width: 1025px) {
        .enlaces-pag{
           grid-template-areas:
            "pag-left pag-left pag-rigth pag-rigth";
            grid-template-columns: repeat(4, 1fr);
            flex-direction: row;
            justify-content: space-around;            
        }    
    }
    
    